{% block body %}


<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasLabel">Todo</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        At Todo, we believe in simplifying your life and maximizing your productivity. Our powerful yet intuitive todo
        app is designed to help you stay organized, focused, and in control of your tasks.

        With our app, you can effortlessly create and manage your to-do lists, set reminders, prioritize tasks, and
        track your progress. Whether you're a busy professional, a student, or a homemaker, our app adapts to your needs
        and empowers you to accomplish more in less time.

        We understand that everyone has their own unique way of organizing tasks, so we offer a range of customization
        options. You can categorize tasks, add due dates, set recurring reminders, and even assign tasks to others for
        efficient collaboration.

        Our app is available across all devices, ensuring that you can access your tasks anytime, anywhere. We value
        your privacy and data security, so rest assured that your information is protected with the highest level of
        encryption.

        Experience the joy of a clutter-free life with Todo. Start achieving your goals, managing your time effectively,
        and living your best life today.
    </div>
</div>
{% endblock body %}